In [1]:
import pandas as pd

In [2]:
all=pd.read_table('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MUTATION/HGSOC4allSNP.vcf',header=None,names=['chr','pos','non','ref','alt','QUAL','QUALtype','type','tag','state','cells'],index_col=None)
all

,chr,pos,non,ref,alt,QUAL,QUALtype,type,tag,state,cells
0,chr1,1007402,.,A,G,7.30814,LOWQUAL,DP=2;VDB=0.72;SGB=-0.453602;MQ0F=0;AC=0;AN=0;D...,GT:PL:DP:SP,"./.:36,6,0:2:0",CB:Z:AAACCCAAGTCAATCC-1
1,chr1,1007442,.,A,G,7.30814,LOWQUAL,DP=2;VDB=0.72;SGB=-0.453602;MQ0F=0;AC=0;AN=0;D...,GT:PL:DP:SP,"./.:36,6,0:2:0",CB:Z:AAACCCAAGTCAATCC-1
2,chr1,6543091,.,A,G,30.41830,LOWQUAL,DP=4;VDB=0.851686;SGB=-0.556411;MQ0F=0;AC=0;AN...,GT:PL:DP:SP,"./.:60,12,0:4:0",CB:Z:AAACCCAAGTCAATCC-1
3,chr1,8582529,.,T,C,38.41500,PASS,DP=5;VDB=0.0101127;SGB=-0.590765;MQ0F=0;AC=2;A...,GT:PL:DP:SP,"1/1:68,15,0:5:0",CB:Z:AAACCCAAGTCAATCC-1
4,chr1,12580917,.,G,T,7.30814,LOWQUAL,DP=2;VDB=0.02;SGB=-0.453602;MQ0F=0;AC=0;AN=0;D...,GT:PL:DP:SP,"./.:36,6,0:2:0",CB:Z:AAACCCAAGTCAATCC-1
...,...,...,...,...,...,...,...,...,...,...,...
11850474,GL000195.1,57116,.,T,C,38.41500,PASS,DP=5;VDB=0.104078;SGB=-0.590765;MQ0F=0;AC=2;AN...,GT:PL:DP:SP,"1/1:68,15,0:5:0",CB:Z:TTTGTTGTCTCCTGAC-1
11850475,GL000195.1,70070,.,C,T,16.74270,PASS,DP=5;VDB=0.0058656;SGB=-0.556411;RPB=1;MQB=1;B...,GT:PL:DP:SP,"0/1:47,0,5:5:0",CB:Z:TTTGTTGTCTCCTGAC-1
11850476,GL000195.1,70093,.,G,A,16.74270,PASS,DP=5;VDB=0.0058656;SGB=-0.556411;RPB=1;MQB=1;B...,GT:PL:DP:SP,"0/1:47,0,5:5:0",CB:Z:TTTGTTGTCTCCTGAC-1
11850477,KI270733.1,135020,.,A,G,28.39430,PASS,DP=28;VDB=0.000105846;SGB=-0.686358;RPB=0.2643...,GT:PL:DP:SP,"0/1:61,0,56:28:0",CB:Z:TTTGTTGTCTCCTGAC-1
11850478,GL000218.1,55737,.,C,T,7.30814,LOWQUAL,DP=2;VDB=0.44;SGB=-0.453602;MQ0F=0;AC=0;AN=0;D...,GT:PL:DP:SP,"./.:36,6,0:2:0",CB:Z:TTTGTTGTCTCCTGAC-1

In [3]:
SNPcoverage=all.loc[all['QUALtype'] == 'PASS']
SNPcoverage=SNPcoverage.iloc[:,[0]]
SNPcoverage.to_csv('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/analysis/SNPcoverage.csv')

In [4]:
SNP30=all.loc[all['QUAL'] > 30]
SNP30=SNP30.loc[SNP30['QUALtype'] == 'PASS']
SNP30=SNP30.iloc[:,[0,1,3,4,5,6,7,10]]
SNP30

,chr,pos,ref,alt,QUAL,QUALtype,type,cells
3,chr1,8582529,T,C,38.4150,PASS,DP=5;VDB=0.0101127;SGB=-0.590765;MQ0F=0;AC=2;A...,CB:Z:AAACCCAAGTCAATCC-1
30,chr1,51796770,C,T,38.4150,PASS,DP=5;VDB=0.018555;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:AAACCCAAGTCAATCC-1
31,chr1,51832289,C,T,38.4150,PASS,DP=5;VDB=0.444886;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:AAACCCAAGTCAATCC-1
42,chr1,78661209,A,G,53.0000,PASS,DP=8;VDB=0.00864413;SGB=-0.651104;MQ0F=0;AC=2;...,CB:Z:AAACCCAAGTCAATCC-1
43,chr1,83609041,T,G,31.2714,PASS,DP=7;VDB=0.946967;SGB=-0.616816;RPB=1;MQB=1;BQ...,CB:Z:AAACCCAAGTCAATCC-1
...,...,...,...,...,...,...,...,...
11850461,chrX,136913138,A,G,44.4146,PASS,DP=6;VDB=0.00595258;SGB=-0.616816;MQ0F=0;AC=2;...,CB:Z:TTTGTTGTCTCCTGAC-1
11850462,chrX,136913151,A,G,44.4146,PASS,DP=6;VDB=0.00595258;SGB=-0.616816;MQ0F=0;AC=2;...,CB:Z:TTTGTTGTCTCCTGAC-1
11850465,chrX,136916520,A,G,44.4146,PASS,DP=7;VDB=0.351874;SGB=-0.616816;MQ0F=0;AC=2;AN...,CB:Z:TTTGTTGTCTCCTGAC-1
11850473,GL000195.1,57107,T,C,38.4150,PASS,DP=5;VDB=0.104078;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:TTTGTTGTCTCCTGAC-1
11850474,GL000195.1,57116,T,C,38.4150,PASS,DP=5;VDB=0.104078;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:TTTGTTGTCTCCTGAC-1

In [5]:
SNP30['mutation']=SNP30['chr']+'pos'
SNP30['mutation']=SNP30['mutation']+SNP30['pos'].map(str)
SNP30['mutation']=SNP30['mutation']+SNP30['ref']
SNP30['mutation']=SNP30['mutation']+'>'
SNP30['mutation']=SNP30['mutation']+SNP30['alt']
SNP30=SNP30.reset_index(drop=True)
SNP30

,chr,pos,ref,alt,QUAL,QUALtype,type,cells,mutation
0,chr1,8582529,T,C,38.4150,PASS,DP=5;VDB=0.0101127;SGB=-0.590765;MQ0F=0;AC=2;A...,CB:Z:AAACCCAAGTCAATCC-1,chr1pos8582529T>C
1,chr1,51796770,C,T,38.4150,PASS,DP=5;VDB=0.018555;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:AAACCCAAGTCAATCC-1,chr1pos51796770C>T
2,chr1,51832289,C,T,38.4150,PASS,DP=5;VDB=0.444886;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:AAACCCAAGTCAATCC-1,chr1pos51832289C>T
3,chr1,78661209,A,G,53.0000,PASS,DP=8;VDB=0.00864413;SGB=-0.651104;MQ0F=0;AC=2;...,CB:Z:AAACCCAAGTCAATCC-1,chr1pos78661209A>G
4,chr1,83609041,T,G,31.2714,PASS,DP=7;VDB=0.946967;SGB=-0.616816;RPB=1;MQB=1;BQ...,CB:Z:AAACCCAAGTCAATCC-1,chr1pos83609041T>G
...,...,...,...,...,...,...,...,...,...
2104135,chrX,136913138,A,G,44.4146,PASS,DP=6;VDB=0.00595258;SGB=-0.616816;MQ0F=0;AC=2;...,CB:Z:TTTGTTGTCTCCTGAC-1,chrXpos136913138A>G
2104136,chrX,136913151,A,G,44.4146,PASS,DP=6;VDB=0.00595258;SGB=-0.616816;MQ0F=0;AC=2;...,CB:Z:TTTGTTGTCTCCTGAC-1,chrXpos136913151A>G
2104137,chrX,136916520,A,G,44.4146,PASS,DP=7;VDB=0.351874;SGB=-0.616816;MQ0F=0;AC=2;AN...,CB:Z:TTTGTTGTCTCCTGAC-1,chrXpos136916520A>G
2104138,GL000195.1,57107,T,C,38.4150,PASS,DP=5;VDB=0.104078;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:TTTGTTGTCTCCTGAC-1,GL000195.1pos57107T>C
2104139,GL000195.1,57116,T,C,38.4150,PASS,DP=5;VDB=0.104078;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:TTTGTTGTCTCCTGAC-1,GL000195.1pos57116T>C

In [6]:
SNP30=SNP30[~(SNP30['chr'].isin(['chrM']))]
SNP30

,chr,pos,ref,alt,QUAL,QUALtype,type,cells,mutation
0,chr1,8582529,T,C,38.4150,PASS,DP=5;VDB=0.0101127;SGB=-0.590765;MQ0F=0;AC=2;A...,CB:Z:AAACCCAAGTCAATCC-1,chr1pos8582529T>C
1,chr1,51796770,C,T,38.4150,PASS,DP=5;VDB=0.018555;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:AAACCCAAGTCAATCC-1,chr1pos51796770C>T
2,chr1,51832289,C,T,38.4150,PASS,DP=5;VDB=0.444886;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:AAACCCAAGTCAATCC-1,chr1pos51832289C>T
3,chr1,78661209,A,G,53.0000,PASS,DP=8;VDB=0.00864413;SGB=-0.651104;MQ0F=0;AC=2;...,CB:Z:AAACCCAAGTCAATCC-1,chr1pos78661209A>G
4,chr1,83609041,T,G,31.2714,PASS,DP=7;VDB=0.946967;SGB=-0.616816;RPB=1;MQB=1;BQ...,CB:Z:AAACCCAAGTCAATCC-1,chr1pos83609041T>G
...,...,...,...,...,...,...,...,...,...
2104135,chrX,136913138,A,G,44.4146,PASS,DP=6;VDB=0.00595258;SGB=-0.616816;MQ0F=0;AC=2;...,CB:Z:TTTGTTGTCTCCTGAC-1,chrXpos136913138A>G
2104136,chrX,136913151,A,G,44.4146,PASS,DP=6;VDB=0.00595258;SGB=-0.616816;MQ0F=0;AC=2;...,CB:Z:TTTGTTGTCTCCTGAC-1,chrXpos136913151A>G
2104137,chrX,136916520,A,G,44.4146,PASS,DP=7;VDB=0.351874;SGB=-0.616816;MQ0F=0;AC=2;AN...,CB:Z:TTTGTTGTCTCCTGAC-1,chrXpos136916520A>G
2104138,GL000195.1,57107,T,C,38.4150,PASS,DP=5;VDB=0.104078;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:TTTGTTGTCTCCTGAC-1,GL000195.1pos57107T>C
2104139,GL000195.1,57116,T,C,38.4150,PASS,DP=5;VDB=0.104078;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:TTTGTTGTCTCCTGAC-1,GL000195.1pos57116T>C

In [8]:
num=SNP30['mutation'].value_counts().to_frame()
num=num.loc[num['mutation']>300]
num['SNP']=num.index
num

                     mutation                  SNP
chr17pos22521429G>C      1765  chr17pos22521429G>C
chr17pos22521461A>C      1764  chr17pos22521461A>C
chr17pos22521415T>C      1763  chr17pos22521415T>C
chr17pos22521426T>C      1763  chr17pos22521426T>C
chr17pos22521407G>A      1758  chr17pos22521407G>A
...                       ...                  ...
chr19pos52942014T>C       310  chr19pos52942014T>C
chr19pos52942045A>G       310  chr19pos52942045A>G
chrXpos74208410T>C        303   chrXpos74208410T>C
chr19pos18276095A>C       302  chr19pos18276095A>C
chrXpos74208412T>C        301   chrXpos74208412T>C

[214 rows x 2 columns]

In [9]:
SNP30a=pd.merge(SNP30,num,left_on='mutation',right_on='SNP')
SNP30a

,chr,pos,ref,alt,QUAL,QUALtype,type,cells,mutation_x,mutation_y,SNP
0,chr9,4251656,T,C,44.4146,PASS,DP=7;VDB=0.0459681;SGB=-0.616816;MQ0F=0;AC=2;A...,CB:Z:AAACCCAAGTCAATCC-1,chr9pos4251656T>C,395,chr9pos4251656T>C
1,chr9,4251656,T,C,58.0000,PASS,DP=10;VDB=0.0141163;SGB=-0.670168;MQ0F=0;AC=2;...,CB:Z:AAACCCATCTCAATCT-1,chr9pos4251656T>C,395,chr9pos4251656T>C
2,chr9,4251656,T,C,58.0000,PASS,DP=10;VDB=0.144519;SGB=-0.670168;MQ0F=0;AC=2;A...,CB:Z:AAAGGTATCTGACCCT-1,chr9pos4251656T>C,395,chr9pos4251656T>C
3,chr9,4251656,T,C,49.4146,PASS,DP=7;VDB=0.531056;SGB=-0.636426;MQ0F=0;AC=2;AN...,CB:Z:AACAACCAGGTAAACT-1,chr9pos4251656T>C,395,chr9pos4251656T>C
4,chr9,4251656,T,C,53.0000,PASS,DP=8;VDB=0.77747;SGB=-0.651104;MQ0F=0;AC=2;AN=...,CB:Z:AACAAGAGTAAGGCTG-1,chr9pos4251656T>C,395,chr9pos4251656T>C
...,...,...,...,...,...,...,...,...,...,...,...
137541,chr10,133399962,G,A,31.3351,PASS,DP=16;VDB=0.0941262;SGB=-0.680642;RPB=0.624635...,CB:Z:TTTACGTTCCGCATAA-1,chr10pos133399962G>A,417,chr10pos133399962G>A
137542,chr10,133399962,G,A,38.4150,PASS,DP=5;VDB=0.990624;SGB=-0.590765;MQ0F=0;AC=2;AN...,CB:Z:TTTACTGTCGGTGTTA-1,chr10pos133399962G>A,417,chr10pos133399962G>A
137543,chr10,133399962,G,A,48.0503,PASS,DP=11;VDB=0.0705986;SGB=-0.670168;RPB=1;MQB=1;...,CB:Z:TTTAGTCCATTCATCT-1,chr10pos133399962G>A,417,chr10pos133399962G>A
137544,chr10,133399962,G,A,56.0000,PASS,DP=9;VDB=0.0486852;SGB=-0.662043;MQ0F=0;AC=2;A...,CB:Z:TTTGGAGAGTTAACAG-1,chr10pos133399962G>A,417,chr10pos133399962G>A
137545,chr10,133399962,G,A,58.0000,PASS,DP=10;VDB=0.201801;SGB=-0.670168;MQ0F=0;AC=2;A...,CB:Z:TTTGTTGTCACTGATG-1,chr10pos133399962G>A,417,chr10pos133399962G>A

In [10]:
VAF=SNP30a.iloc[:,[7,6]]
VAF

,cells,type
0,CB:Z:AAACCCAAGTCAATCC-1,DP=7;VDB=0.0459681;SGB=-0.616816;MQ0F=0;AC=2;A...
1,CB:Z:AAACCCATCTCAATCT-1,DP=10;VDB=0.0141163;SGB=-0.670168;MQ0F=0;AC=2;...
2,CB:Z:AAAGGTATCTGACCCT-1,DP=10;VDB=0.144519;SGB=-0.670168;MQ0F=0;AC=2;A...
3,CB:Z:AACAACCAGGTAAACT-1,DP=7;VDB=0.531056;SGB=-0.636426;MQ0F=0;AC=2;AN...
4,CB:Z:AACAAGAGTAAGGCTG-1,DP=8;VDB=0.77747;SGB=-0.651104;MQ0F=0;AC=2;AN=...
...,...,...
137541,CB:Z:TTTACGTTCCGCATAA-1,DP=16;VDB=0.0941262;SGB=-0.680642;RPB=0.624635...
137542,CB:Z:TTTACTGTCGGTGTTA-1,DP=5;VDB=0.990624;SGB=-0.590765;MQ0F=0;AC=2;AN...
137543,CB:Z:TTTAGTCCATTCATCT-1,DP=11;VDB=0.0705986;SGB=-0.670168;RPB=1;MQB=1;...
137544,CB:Z:TTTGGAGAGTTAACAG-1,DP=9;VDB=0.0486852;SGB=-0.662043;MQ0F=0;AC=2;A...
137545,CB:Z:TTTGTTGTCACTGATG-1,DP=10;VDB=0.201801;SGB=-0.670168;MQ0F=0;AC=2;A...

In [11]:
split_data_1=VAF['type'].astype('str').str.split(';',expand=True)
split_data_1.columns=['D_'+str(i) for i in split_data_1.columns]
split_data_1=split_data_1.fillna('AAAAAA')
split_data_1=split_data_1.reset_index(drop=True)
split_data_1

,D_0,D_1,D_2,D_3,D_4,D_5,D_6,D_7,D_8,D_9,D_10,D_11,D_12,D_13
0,DP=7,VDB=0.0459681,SGB=-0.616816,MQ0F=0,AC=2,AN=2,"DP4=0,0,0,6",MQ=20,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA
1,DP=10,VDB=0.0141163,SGB=-0.670168,MQ0F=0,AC=2,AN=2,"DP4=0,0,0,10",MQ=20,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA
2,DP=10,VDB=0.144519,SGB=-0.670168,MQ0F=0,AC=2,AN=2,"DP4=0,0,0,10",MQ=20,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA
3,DP=7,VDB=0.531056,SGB=-0.636426,MQ0F=0,AC=2,AN=2,"DP4=0,0,0,7",MQ=20,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA
4,DP=8,VDB=0.77747,SGB=-0.651104,MQ0F=0,AC=2,AN=2,"DP4=0,0,0,8",MQ=20,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137541,DP=16,VDB=0.0941262,SGB=-0.680642,RPB=0.624635,MQB=1,BQB=1,MQ0F=0,ICB=1,HOB=0.5,AC=1,AN=2,"DP4=4,0,12,0",MQ=20,AAAAAA
137542,DP=5,VDB=0.990624,SGB=-0.590765,MQ0F=0,AC=2,AN=2,"DP4=0,0,5,0",MQ=20,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA
137543,DP=11,VDB=0.0705986,SGB=-0.670168,RPB=1,MQB=1,BQB=1,MQ0F=0,AC=2,AN=2,"DP4=1,0,10,0",MQ=20,AAAAAA,AAAAAA,AAAAAA
137544,DP=9,VDB=0.0486852,SGB=-0.662043,MQ0F=0,AC=2,AN=2,"DP4=0,0,9,0",MQ=20,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA
137545,DP=10,VDB=0.201801,SGB=-0.670168,MQ0F=0,AC=2,AN=2,"DP4=0,0,10,0",MQ=20,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA,AAAAAA

In [12]:
f=open('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MUTATION/SNP30_DP4.csv','w')
for i in split_data_1.index:
    for j in [0,1,2,3,4,5,6,7,8,9,10,11,12]:
        if split_data_1.iat[i,j][0:3] == 'DP4':
            print(split_data_1.iat[i,j],file=f)
f.close()

In [13]:
DP4=pd.read_table('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MUTATION/SNP30_DP4.csv',header=None,names=['DP4'])
DP4

                 DP4
0        DP4=0,0,0,6
1       DP4=0,0,0,10
2       DP4=0,0,0,10
3        DP4=0,0,0,7
4        DP4=0,0,0,8
...              ...
137541  DP4=4,0,12,0
137542   DP4=0,0,5,0
137543  DP4=1,0,10,0
137544   DP4=0,0,9,0
137545  DP4=0,0,10,0

[137546 rows x 1 columns]

In [14]:
split_data_2=DP4['DP4'].astype('str').str.split('=',expand=True)
split_data_2.columns=['D_'+str(i) for i in split_data_2.columns]
split_data_3=split_data_2['D_1'].astype('str').str.split(',',expand=True)
split_data_3.columns=['ref-forward','ref-reverse','alt-forward','alt-reverse']
split_data_3

       ref-forward ref-reverse alt-forward alt-reverse
0                0           0           0           6
1                0           0           0          10
2                0           0           0          10
3                0           0           0           7
4                0           0           0           8
...            ...         ...         ...         ...
137541           4           0          12           0
137542           0           0           5           0
137543           1           0          10           0
137544           0           0           9           0
137545           0           0          10           0

[137546 rows x 4 columns]

In [15]:
f=open('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MUTATION/SNP30_VAF.csv','w')
for i in split_data_3.index:
    vaf=(int(split_data_3.iat[i,2])+int(split_data_3.iat[i,3]))/(int(split_data_3.iat[i,0])+int(split_data_3.iat[i,1])+int(split_data_3.iat[i,2])+int(split_data_3.iat[i,3]))
    reads=int(split_data_3.iat[i,0])+int(split_data_3.iat[i,1])+int(split_data_3.iat[i,2])+int(split_data_3.iat[i,3])
    if reads >4:
        print(vaf,5,file=f)
    if reads <5:
        print(vaf,4,file=f)
f.close()

In [16]:
VAF=pd.read_table('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MUTATION/SNP30_VAF.csv',sep=' ',header=None,names=['vaf','filter'])
VAF

             vaf  filter
0       1.000000       5
1       1.000000       5
2       1.000000       5
3       1.000000       5
4       1.000000       5
...          ...     ...
137541  0.750000       5
137542  1.000000       5
137543  0.909091       5
137544  1.000000       5
137545  1.000000       5

[137546 rows x 2 columns]

In [17]:
SNP30b=pd.merge(SNP30a,VAF,left_index=True,right_index=True)
SNP30b=SNP30b.iloc[:,[7,10,11,12]]
SNP30b

                          cells                   SNP       vaf  filter
0       CB:Z:AAACCCAAGTCAATCC-1     chr9pos4251656T>C  1.000000       5
1       CB:Z:AAACCCATCTCAATCT-1     chr9pos4251656T>C  1.000000       5
2       CB:Z:AAAGGTATCTGACCCT-1     chr9pos4251656T>C  1.000000       5
3       CB:Z:AACAACCAGGTAAACT-1     chr9pos4251656T>C  1.000000       5
4       CB:Z:AACAAGAGTAAGGCTG-1     chr9pos4251656T>C  1.000000       5
...                         ...                   ...       ...     ...
137541  CB:Z:TTTACGTTCCGCATAA-1  chr10pos133399962G>A  0.750000       5
137542  CB:Z:TTTACTGTCGGTGTTA-1  chr10pos133399962G>A  1.000000       5
137543  CB:Z:TTTAGTCCATTCATCT-1  chr10pos133399962G>A  0.909091       5
137544  CB:Z:TTTGGAGAGTTAACAG-1  chr10pos133399962G>A  1.000000       5
137545  CB:Z:TTTGTTGTCACTGATG-1  chr10pos133399962G>A  1.000000       5

[137546 rows x 4 columns]

In [18]:
SNP30filter=SNP30b[SNP30b['filter']>4]
SNP30filter

                          cells                   SNP       vaf  filter
0       CB:Z:AAACCCAAGTCAATCC-1     chr9pos4251656T>C  1.000000       5
1       CB:Z:AAACCCATCTCAATCT-1     chr9pos4251656T>C  1.000000       5
2       CB:Z:AAAGGTATCTGACCCT-1     chr9pos4251656T>C  1.000000       5
3       CB:Z:AACAACCAGGTAAACT-1     chr9pos4251656T>C  1.000000       5
4       CB:Z:AACAAGAGTAAGGCTG-1     chr9pos4251656T>C  1.000000       5
...                         ...                   ...       ...     ...
137541  CB:Z:TTTACGTTCCGCATAA-1  chr10pos133399962G>A  0.750000       5
137542  CB:Z:TTTACTGTCGGTGTTA-1  chr10pos133399962G>A  1.000000       5
137543  CB:Z:TTTAGTCCATTCATCT-1  chr10pos133399962G>A  0.909091       5
137544  CB:Z:TTTGGAGAGTTAACAG-1  chr10pos133399962G>A  1.000000       5
137545  CB:Z:TTTGTTGTCACTGATG-1  chr10pos133399962G>A  1.000000       5

[137546 rows x 4 columns]

In [19]:
SNP30filter1=SNP30filter[SNP30filter['vaf']>0.1]
#SNP30filter1=SNP30filter1[SNP30filter1['vaf']<0.9]
SNP30filter1

                          cells                   SNP       vaf  filter
0       CB:Z:AAACCCAAGTCAATCC-1     chr9pos4251656T>C  1.000000       5
1       CB:Z:AAACCCATCTCAATCT-1     chr9pos4251656T>C  1.000000       5
2       CB:Z:AAAGGTATCTGACCCT-1     chr9pos4251656T>C  1.000000       5
3       CB:Z:AACAACCAGGTAAACT-1     chr9pos4251656T>C  1.000000       5
4       CB:Z:AACAAGAGTAAGGCTG-1     chr9pos4251656T>C  1.000000       5
...                         ...                   ...       ...     ...
137541  CB:Z:TTTACGTTCCGCATAA-1  chr10pos133399962G>A  0.750000       5
137542  CB:Z:TTTACTGTCGGTGTTA-1  chr10pos133399962G>A  1.000000       5
137543  CB:Z:TTTAGTCCATTCATCT-1  chr10pos133399962G>A  0.909091       5
137544  CB:Z:TTTGGAGAGTTAACAG-1  chr10pos133399962G>A  1.000000       5
137545  CB:Z:TTTGTTGTCACTGATG-1  chr10pos133399962G>A  1.000000       5

[137546 rows x 4 columns]

In [20]:
SNP30filter1.to_csv('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MUTATION/SNP30_filter.csv')

In [21]:
cor=pd.read_table('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MUTATION/result_SNP30cor.txt',sep=',',header=None,names=['cell1','cell2','cor'])
cor

         cell1  cell2       cor
0            0      1 -0.075910
1            0      2 -0.015950
2            0      3  0.705445
3            0      4 -0.068513
4            0      5 -0.015170
...        ...    ...       ...
6235741   3528   3530  0.288151
6235742   3528   3531  0.510374
6235743   3529   3530  0.246061
6235744   3529   3531  0.554476
6235745   3530   3531  0.377089

[6235746 rows x 3 columns]

In [22]:
index=pd.read_table('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MUTATION/cols_index_SNP30cor.csv',sep=',')
index.columns=['index','CB']
index

      index                       CB
0         0  CB:Z:AAACCCAAGTCAATCC-1
1         1  CB:Z:AAACCCAGTCTTCAAG-1
2         2  CB:Z:AAACCCATCGAGTACT-1
3         3  CB:Z:AAACCCATCTCAATCT-1
4         4  CB:Z:AAACGAACAACTCCAA-1
...     ...                      ...
3527   3527  CB:Z:TTTGGTTTCAGCCTCT-1
3528   3528  CB:Z:TTTGTTGAGAAATTGC-1
3529   3529  CB:Z:TTTGTTGAGCTCATAC-1
3530   3530  CB:Z:TTTGTTGTCACTGATG-1
3531   3531  CB:Z:TTTGTTGTCTCCTGAC-1

[3532 rows x 2 columns]

In [23]:
cor1=cor[cor['cor']>0.6]
cor1=cor1[cor1['cor']<1]
cor1=pd.merge(cor1,index,left_on='cell1',right_on='index')
cor1=pd.merge(cor1,index,left_on='cell2',right_on='index')
cor1.columns=['cell1','cell2','cor','cell1index','cell1CB','cell2index','cell2CB']
cor2=cor1.iloc[:,[4,6,2]]
cor2

                        cell1CB                  cell2CB       cor
0       CB:Z:AAACCCAAGTCAATCC-1  CB:Z:AAACCCATCTCAATCT-1  0.705445
1       CB:Z:AAACCCAAGTCAATCC-1  CB:Z:ATGCATGCAAGAGATT-1  0.705445
2       CB:Z:AGCCAGCTCAACGTGT-1  CB:Z:ATGCATGCAAGAGATT-1  0.705445
3       CB:Z:AAACCCAAGTCAATCC-1  CB:Z:CGGGACTTCCTACACC-1  0.705445
4       CB:Z:AAACCCATCGAGTACT-1  CB:Z:AAACGAACACAGAGAC-1  0.750591
...                         ...                      ...       ...
126697  CB:Z:TCCAGAACAACTCATG-1  CB:Z:TCGAAGTTCCTTATGT-1  0.709265
126698  CB:Z:TCGGGCATCGGAGCAA-1  CB:Z:TGGAGAGTCATGCCCT-1  0.705445
126699  CB:Z:TCGTGCTCAATCGAAA-1  CB:Z:TGGAGAGTCATGCCCT-1  0.705445
126700  CB:Z:TGACAGTGTGCGGATA-1  CB:Z:TGCTTGCCATTGCAAC-1  0.637866
126701  CB:Z:TTACCGCGTCGGAAAC-1  CB:Z:TTCGGTCAGACGGTTG-1  0.705445

[126702 rows x 3 columns]

In [24]:
data=pd.read_table('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MUTATION/HGSOC4allSNP.vcf',header=None,names=['chr','pos','non','ref','alt','QUAL','QUALtype','type','tag','state','cells'],index_col=None)
data=data.loc[data['QUALtype'] == 'PASS']
data=data[~(data['chr'].isin(['chrM']))]
data

,chr,pos,non,ref,alt,QUAL,QUALtype,type,tag,state,cells
3,chr1,8582529,.,T,C,38.4150,PASS,DP=5;VDB=0.0101127;SGB=-0.590765;MQ0F=0;AC=2;A...,GT:PL:DP:SP,"1/1:68,15,0:5:0",CB:Z:AAACCCAAGTCAATCC-1
30,chr1,51796770,.,C,T,38.4150,PASS,DP=5;VDB=0.018555;SGB=-0.590765;MQ0F=0;AC=2;AN...,GT:PL:DP:SP,"1/1:68,15,0:5:0",CB:Z:AAACCCAAGTCAATCC-1
31,chr1,51832289,.,C,T,38.4150,PASS,DP=5;VDB=0.444886;SGB=-0.590765;MQ0F=0;AC=2;AN...,GT:PL:DP:SP,"1/1:68,15,0:5:0",CB:Z:AAACCCAAGTCAATCC-1
42,chr1,78661209,.,A,G,53.0000,PASS,DP=8;VDB=0.00864413;SGB=-0.651104;MQ0F=0;AC=2;...,GT:PL:DP:SP,"1/1:83,24,0:8:0",CB:Z:AAACCCAAGTCAATCC-1
43,chr1,83609041,.,T,G,31.2714,PASS,DP=7;VDB=0.946967;SGB=-0.616816;RPB=1;MQB=1;BQ...,GT:PL:DP:SP,"1/1:58,1,0:7:0",CB:Z:AAACCCAAGTCAATCC-1
...,...,...,...,...,...,...,...,...,...,...,...
11850473,GL000195.1,57107,.,T,C,38.4150,PASS,DP=5;VDB=0.104078;SGB=-0.590765;MQ0F=0;AC=2;AN...,GT:PL:DP:SP,"1/1:68,15,0:5:0",CB:Z:TTTGTTGTCTCCTGAC-1
11850474,GL000195.1,57116,.,T,C,38.4150,PASS,DP=5;VDB=0.104078;SGB=-0.590765;MQ0F=0;AC=2;AN...,GT:PL:DP:SP,"1/1:68,15,0:5:0",CB:Z:TTTGTTGTCTCCTGAC-1
11850475,GL000195.1,70070,.,C,T,16.7427,PASS,DP=5;VDB=0.0058656;SGB=-0.556411;RPB=1;MQB=1;B...,GT:PL:DP:SP,"0/1:47,0,5:5:0",CB:Z:TTTGTTGTCTCCTGAC-1
11850476,GL000195.1,70093,.,G,A,16.7427,PASS,DP=5;VDB=0.0058656;SGB=-0.556411;RPB=1;MQB=1;B...,GT:PL:DP:SP,"0/1:47,0,5:5:0",CB:Z:TTTGTTGTCTCCTGAC-1
11850477,KI270733.1,135020,.,A,G,28.3943,PASS,DP=28;VDB=0.000105846;SGB=-0.686358;RPB=0.2643...,GT:PL:DP:SP,"0/1:61,0,56:28:0",CB:Z:TTTGTTGTCTCCTGAC-1

In [25]:
numchrM=data['cells'].value_counts()
numchrM=numchrM.to_frame().reset_index()
numchrM

                        index  cells
0     CB:Z:GACTCAAAGCCACCGT-1   7017
1     CB:Z:ACTTAGGCAATCTGCA-1   5709
2     CB:Z:TCCCAGTGTTCTATCT-1   5298
3     CB:Z:TCTTAGTCATTGCCTC-1   5241
4     CB:Z:GTTGCGGCACTCTGCT-1   5212
...                       ...    ...
4016  CB:Z:AGGTCTATCTATCGTT-1      1
4017  CB:Z:TGGAGGAGTGCAACGA-1      1
4018  CB:Z:GGTGAAGGTTGGACTT-1      1
4019  CB:Z:CCTCCTCAGAGGGTGG-1      1
4020  CB:Z:TCCACGTTCGACGCTG-1      1

[4021 rows x 2 columns]

In [26]:
f=open('/dssg/home/acct-medcl1/medcl1/Ovarian_carcinoma_GSE184880/HGSOC4/MUTATION/SNP30_tree.csv','w')
for i in cor2.index:
    M=cor2.iloc[i,0]
    N=cor2.iloc[i,1]
    O=cor2.iloc[i,2]
    P=numchrM[numchrM['index'].isin([M])].iat[0,1]
    Q=numchrM[numchrM['index'].isin([N])].iat[0,1]
    if P - Q >0 :
        print ('%s\t%s\t%s\t%s\t%s/%s\t%s\t%s' %
                         (N, 
                          Q,
                          M,
                          P,
                          N[5:],
                          M[5:],
                          O,
                          1),file=f)
    else:
        print ('%s\t%s\t%s\t%s\t%s/%s\t%s\t%s' %
                         (M, 
                          P,
                          N,
                          Q,
                          M[5:],
                          N[5:],
                          O,
                          1),file=f)
f.close()

In [3]:
SNP30data=pd.read_table('/dssg/home/acct-medcl1/medcl1/ColorectalCancer_PRJNA748525/MUTATION/SNP30_filter.csv',sep=',',index_col=0)
SNP30data

                          cells                 SNP  vaf  filter
0       CB:Z:AAACCTGAGCACAGGT-1  chr1pos20651917T>C  1.0       5
1       CB:Z:AAACGGGAGACTGGGT-1  chr1pos20651917T>C  1.0       5
2       CB:Z:AAAGATGCATAAGACA-1  chr1pos20651917T>C  1.0       5
3       CB:Z:AAAGATGGTCCCTTGT-1  chr1pos20651917T>C  1.0       5
4       CB:Z:AAAGATGGTTCAGTAC-1  chr1pos20651917T>C  1.0       5
...                         ...                 ...  ...     ...
770940  CB:Z:TCAGGTAGTCTTCAAG-1  chr2pos53967611A>G  1.0       5
770941  CB:Z:TCATTTGGTAAACGCG-1  chr2pos53967611A>G  1.0       5
770942  CB:Z:TCGGGACCAGTATGCT-1  chr2pos53967611A>G  1.0       5
770943  CB:Z:TCTGGAATCGGAAATA-1  chr2pos53967611A>G  1.0       5
770944  CB:Z:TTGCGTCTCGTTTATC-1  chr2pos53967611A>G  1.0       5

[770945 rows x 4 columns]

In [4]:
SNP30dataCross=pd.crosstab(SNP30data.cells,SNP30data.SNP)
SNP30dataCross

SNP,GL000205.2pos60018A>G,GL000219.1pos77651C>T,GL000219.1pos78859T>A,GL000219.1pos99159T>C,GL000219.1pos99260T>C,GL000219.1pos99274C>A,GL000219.1pos99300G>A,GL000219.1pos99499G>A,GL000219.1pos99575A>G,chr10pos102394926C>T,...,chrXpos74266411T>C,chrXpos74266517A>G,chrXpos79362023T>G,chrXpos85088676C>G,chrXpos92113152T>C,chrXpos92113171T>C,chrXpos92113177T>C,chrYpos13287441A>C,chrYpos13287444T>C,chrYpos13287471A>G
cells,,,,,,,,,,,,,,,,,,,,,
CB:Z:AAACCTGAGCACAGGT-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CB:Z:AAACCTGAGCAGACTG-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CB:Z:AAACCTGAGCAGGTCA-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CB:Z:AAACCTGAGCCTCGTG-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CB:Z:AAACCTGAGCTAGCCC-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CB:Z:TTTGTCATCGATCCCT-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CB:Z:TTTGTCATCGGCGCTA-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CB:Z:TTTGTCATCTCAAGTG-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CB:Z:TTTGTCATCTCGAGTA-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CB:Z:TTTGTCATCTGTCCGT-1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
SNP30dataCross.to_csv('/dssg/home/acct-medcl1/medcl1/ColorectalCancer_PRJNA748525/analysis/SNP30_datacross.csv')